@font-face {
    font-family: 'Population Zero';
    src: url(../Fonts/population-zero-bb/PopulationZeroBB.otf);
}

@font-face {
    font-family: 'Zombie Station';
    src: url(../Fonts/zombies-station/ZOMBIES\ STATION.ttf);
}

@font-face {
    font-family: 'Poppins';
    src: url(../Fonts/Poppins/Poppins-Regular.ttf);
}