*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    color: #1C1C1C;
}

html,
body {
    width: 100svw;
    height: 100svh;

    background-color: #FFF;
}

header {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 10%;

    nav,
    ul {
        width: 100%;
        height: 100%;
    }

    nav {
        ul {
            background-color: #306ae7;
            display: flex;
            align-items: center;
            justify-content: space-around;

            li {
                background-color: #3121be8a;
                border: none;
                border-radius: 12px;
                padding: 1%;
                list-style-type: none;
                transition: background-color 0.4s ease-in,
                transform 0.3s ease-in;
                cursor: pointer;

                &:hover {
                    background-color: #3121be;
                    transform: scale(1.1);
                    transition: background-color 0.4s ease-out,
                    transform 0.3s ease-out;
                }

                a {
                    color: #fcfcfc;
                    text-decoration: none;
                    font-weight: 600;
                    letter-spacing: 5px;
                }
            }
        }

        .scrolled-down {
            opacity: 0;
            transition: opacity 0.5s ease-out
        }

        .scrolled-up {
            opacity: 1;
            transition: opacity 0.5s ease-in
        }
    }
}

main {
    width: 100%;
    height: 100%;

    section {
        width: 100%;
        height: 100%;
    }

    .intro {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            position: absolute;
            top: 15%;
            text-align: center;
            font-size: 3rem;
            font-weight: 900;
            text-decoration: underline;
        }

        .def {
            position: relative;
            width: 60%;
            height: max-content;
            border: 5px solid #306ae7;
            padding: 1%;

            h2 {
                font-size: 2.5rem;
                font-weight: 800;
                text-align: center;
                margin-bottom: 5%;
            }

            p {
                font-size: 2rem;
                text-align: center;
                font-family: 'Poppins Italic';
            }

            span {
                font-size: 2rem;
                text-align: center;
                font-family: 'Poppins Bold-Italic';
                text-decoration: underline;
            }
        }
    }

    .fonctionnement {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .fonc {
            width: 85%;
            height: max-content;
            border: 5px solid #306ae7;
            padding: 5%;

            h2 {
                font-size: 2.3rem;
                font-weight: 800;
                text-align: center;
                margin-bottom: 3%;
            }

            p {
                font-size: 1.2rem;
            }

            span {
                font-size: 1.4rem;
                font-family: 'Poppins Bold-Italic';
                text-decoration: underline;
            }
        }
    }

    .efficacite {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .effi {
            width: 60%;
            height: max-content;
            border: 5px solid #306ae7;
            padding: 5%;

            h2 {
                font-size: 2.5rem;
                font-weight: 800;
                text-align: center;
                margin-bottom: 5%;
            }

            p {
                font-size: 1.4rem;
            }

            span {
                font-size: 1.4rem;
                font-family: 'Poppins Bold-Italic';
                text-decoration: underline;
            }
        }
    }

    .dispoPrix {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .dp {
            width: 60%;
            height: max-content;
            border: 5px solid #306ae7;
            padding: 5%;

            h2 {
                font-size: 2.5rem;
                font-weight: 800;
                text-align: center;
                margin-bottom: 5%;
            }

            p {
                font-size: 1.4rem;
            }

            a {
                font-size: 1.4rem;
                font-family: 'Poppins Bold-Italic';
                text-decoration: underline;
            }
        }
    }

    .ai {
        position: relative;

        height: 200svh;

        display: flex;
        align-items: end;
        justify-content: center;
        gap: 10%;

        h2 {
            position: absolute;
            top: 0;
            font-size: 2.5rem;
            font-family: 'Poppins Bold';
            border: 5px solid #306ae7;
            padding: 1%;
        }

        .avantages {
            width: 40%;
            height: 90%;
        }
        .inconvenients {
            width: 40%;
            height: 90%;
        }

        ul {
            height: max-content;
            li {
                font-size: 1.5rem;
                margin: 5%;
            }

            span {
                font-size: 1.5rem;
                font-family: 'Poppins Bold';
                text-decoration: underline;
            }
        }
    }
}